body {
    height: 100vh;
    overflow: hidden;
    background-image: url("../asset/bg-m.jpg");
    background-size: cover;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
        opacity: 0.6;
    }
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: white;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.main-container {
    height: 100%;
    margin: 0;
    padding: 2rem;
    padding-top: 2rem;
    width: 70rem;
    background-color: rgba(rgb(4, 4, 53), 0.3);
    backdrop-filter: blur(10px);
    border-radius: $border-radius;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 7fr 1fr;
    gap: 1rem;
}
