@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

$border-radius: 0.2rem;
$clr-inactive: rgba(255, 255, 255, 0.3);
$clr-active: rgba(255, 255, 255, 1);

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility;
    letter-spacing: 0.05rem;
}

body {
    min-height: 100vh;
    background-image: url("../asset/bg-m.jpg");
    background-size: cover;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
        opacity: 0.6;
    }
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    // margin: 10vh auto;
    padding: 1rem;
    max-width: 50rem;
    background-color: rgba(rgb(4, 4, 53), 0.3);
    backdrop-filter: blur(10px);
    border-radius: $border-radius;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 7fr 1fr;
    gap: 1rem;
}

.explorer {
    grid-column: 1;
    grid-row: 1;
    border-right: solid $clr-inactive 1px;
    padding-right: 1rem;
    &__item {
        border-bottom: solid $clr-inactive 1px;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
    }
    &__avatar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}
.explorer__menu__title {
    margin-bottom: 1rem;
    color: $clr-inactive;
    font-size: 0.7rem;
    font-weight: 300;
}
.explorer__menu__item {
    color: $clr-inactive;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.9rem;
    margin-bottom: 1.3rem;
    &:hover {
        color: $clr-active;
        cursor: pointer;
    }
}

.content {
    grid-column: 2;
    grid-row: 1;
}

.player {
    grid-column: 1 / span 2;
    grid-row: 2;
}
